* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.App {
    max-width: 1800px;
    margin: 0 auto;
    background-color: #212121;
}

.register {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: white;
}

.logo {
    font-size: 150px;
    color: #8774E1;
}

.register h1 {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.register form {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.register form button {
    width: 100%;
    color: white;
    padding: 10px;
    margin-top: 30px;
    background-color: #8774E1;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.register form input {
    width: 100%;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.controlInp {
    width: 100%;
}

.controlInp input {
    width: 100%;
}

.register form label {
    width: 100%;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.register .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register .about p {
    color: silver;
}

.register .footer {
    margin-top: -12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register .footer button {
    border: none;
    outline: none;
    color: #8774E1;
    cursor: pointer;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0);
}

/* Loader */
.loader {
    width: 100%;
    height: 100vh;
    background-color: #212121;
}

/* Chat Room */
.chatRoom {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #212121;
}

.chatRoom .left {
    width: 27%;
    height: 100%;
    overflow: hidden;
}

.chatRoom .left .top {
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 12px 18px;
    position: relative;
}

.menuModal {
    width: 0px;
    position: absolute;
    display: none;
    flex-direction: column;
    border-radius: 10px;
    padding: 5px 5px 10px;
    background-color: #181818;
}

#menuModal {
    width: 300px;
    display: flex;
    top: 100%;
}

.menuModal button {
    display: flex;
    align-items: center;
    gap: 25px;
    border-radius: 5px;
    padding: 8px 15px;
    border: none;
    color: white;
    user-select: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
}

.menuModal a {
    display: flex;
    align-items: center;
    gap: 25px;
    color: white;
    user-select: none;
    text-decoration: none;
}

.menuModal button:hover {
    background-color: #212121;
}

.menuModal span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 25px;
}

.menuModal p {
    font-weight: 700;
    font-size: 18px;
}

.menuModal h2 {
    margin: 0 auto;
    padding: 10px 0px 0px;
    font-size: 18px;
    color: silver;
}

.chatRoom .top .menu span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    font-size: 30px;
    color: white;
}

.chatRoom .top .search {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border: 0.2px solid silver;
    border-radius: 30px;
    padding: 0px 15px;
    color: silver;
    background-color: #181818;
}

#activeCard {
    background-color: #8774E1;
}

.chatRoom .search input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 20px;
    color: white;
    background-color: rgba(255, 255, 255, 0);
}

.chatRoom .search:focus-within {
    color: #8774E1;
    border: 2px solid #8774E1;
}

.chatRoom .search span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}

.peopleList {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 10px 0px;
}

.peopleCard {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 8px 10px;
    border-radius: 10px;
    color: white;
}

.peopleCard:active {
    background-color: #8774E1;
}

.peopleCard:first-child {
    background-color: #8774E1;
}

.pcLeft {
    display: flex;
    gap: 15px;
}

.profileImg {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

.profileImg img {
    width: 100%;
    height: 100%;
}

.peopleCard .profileTitle {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 0px 0px;
}

.peopleCard .profileTitle .profileName {
    font-size: 20px;
}

.peopleCard .profileTitle .lastMessage {
    color: silver;
}

.messageTime {
    padding: 10px 0px 0px;
    color: silver;
}

.chatRoom .right {
    width: 73%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../public/img/chatRoomBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 0px 0px 0px .5px;
}

.right .top {
    width: 99.9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 15px;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    background-color: #212121;
}

.right .profileAction {
    display: flex;
    gap: 15px;
}

.right .profileAction .menu span {
    color: silver;
    font-size: 25px;
}

.right .top .profileImg {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

.right .top .profileName {
    font-size: 20px;
}

.right .top .profileTitle .lastOnline {
    color: silver;
}

.userMessage {
    width: 65%;
    height: 100%;
    position: relative;
}

.messagesWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 10px;
    padding-bottom: 90px;
    overflow: auto;
}

.userNewMessage {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    color: white;
}

.newMessage {
    width: fit-content;
    display: flex;
    align-items: flex-end;
    gap: 5px;
    padding: 8px 15px;
    border-radius: 10px;
    background-color: #8774E1;
}

.newMessage .userText {
    font-size: 20px;
}

.sentTime {
    font-size: 14px;
    color: silver;
}

.sendMessage {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    display: flex;
    gap: 10px;
    /* background-color: red; */
}

.sendMessage button span {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.smContent {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 0px 15px;
    background-color: #212121;
}

.smContent textarea {
    width: 100%;
    font-size: 20px;
    padding: 0px 10px;
    color: white;
    border: none;
    outline: none;
    resize: none;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0);
}

.smContent .menu span {
    color: silver;
}

.sendBtn {
    width: 65px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #8774E1;
}

.sendBtn span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.switchDarkmode input {
    display: flex;
    flex-direction: row-reverse;
}

.switchDarkmode span:last-child {
    order: -1;
    color: white;
}

.error {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: red;
}

.error span {
    font-size: 100px;
}

.error h1 {
    width: 30%;
    font-size: 25px;
    text-align: center;
}

.error button {
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    user-select: none;
    color: #8774E1;
    background-color: rgba(255, 255, 255, 0);
}

/* Media */
/* Media Query 1280px-1250px */
@media (max-width: 1280px) and (min-width: 1250px) {
    .userMessage {
        width: 85%;
    }
}

/* Media Query 1250px-1230px */
@media (max-width: 1250px) and (min-width: 1230px) {
    .userMessage {
        width: 90%;
    }
}

/* Media Query 1230px-1200px */
@media (max-width: 1230px) and (min-width: 1200px) {
    .chatRoom .left {
        width: 35%;
        height: 100%;
        overflow: hidden;
    }

    .chatRoom .right {
        width: 65%;
    }

    .userMessage {
        width: 95%;
    }
}

/* Media Query 1100px-1000px */
@media (max-width: 1100px) and (min-width: 1000px) {
    .chatRoom .left {
        width: 35%;
        height: 100%;
        overflow: hidden;
    }

    .chatRoom .right {
        width: 65%;
    }

    .userMessage {
        width: 95%;
    }

    .chatRoom .top .search {
        height: 40px;
    }

    .profileImg {
        width: 55px;
        height: 55px;
    }

    .peopleCard .profileTitle {
        padding: 8px 0px 0px;
    }

    .right .top .profileImg {
        width: 40px;
        height: 40px;
    }

    #menuModal {
        top: 90%;
    }

    .chatRoom .left .top {
        padding: 10px 18px;
    }

    .peopleList {
        padding: 0px 10px 0px;
    }

    .smContent {
        border-radius: 20px;
        padding: 0px 15px;
    }

    .sendBtn {
        width: 55px;
        height: 50px;
    }

    .sendBtn span {
        font-size: 25px;
    }

    .chatRoom .top .menu span {
        font-size: 25px;
    }

    .right .profileAction .menu span {
        font-size: 20px;
    }

    .smContent .menu span {
        font-size: 20px;
    }

    .chatRoom .search span {
        font-size: 20px;
    }

    .menuModal span {
        font-size: 20px;
    }

    .menuModal p {
        font-size: 16px;
    }

    .menuModal h2 {
        font-size: 16px;
    }

    .peopleCard .profileTitle .profileName {
        font-size: 18px;
    }

    .pcLeft .profileTitle .profileName {
        font-size: 18px;
    }

    .right .top .profileTitle .lastOnline {
        font-size: 14px;
    }

    .peopleCard .profileTitle .lastMessage {
        font-size: 14px;
    }

    .messageTime {
        padding: 8px 0px 0px;
        font-size: 14px;
    }

    .newMessage .userText {
        font-size: 16px;
    }

    .sentTime {
        font-size: 12px;
    }

    .chatRoom .search input {
        font-size: 16px;
    }

    .smContent textarea {
        font-size: 16px;
    }
}